@font-face {
	font-family: "Maple";
	src: local("Maple Mono NF CN"), local("Maple Mono NF"), url("/font/MapleMono-NF.ttf");
}

@font-face {
	font-family: "Hiragino";
	src: url("/Hiragino.ttc");
}

* {
	margin: 0;
	border: none;
	padding: 0;

	box-sizing: border-box;

	font-family: "Noto Serif SC";
	user-select: none;

	::-webkit-scrollbar {
		background-color: transparent;
		width: 2px;
		height: 2px;

		&-thumb {
			border-radius: 2px;
			background-color: @foreground;
		}
	}
}

.shadow {
	position: relative;

	border-color: black;
	border-style: solid;

	&::after {
		content: "";
		position: absolute;

		left: -2+7px;
		right: -2-7px;
		top: -2+7px;
		bottom: -2-7px;

		border-color: @shadow;
		border-style: solid;
		border-width: inherit;

		pointer-events: none;

		z-index: -1;
	}
}

a {
	text-decoration: none;
	color: black;
}